{{#each blogs}}
  <h2>{{username}}</h2>
  <p> <b>Description:</b> {{this.description}}</p>
  <p> <b>Details:</b> {{this.details}}</p>
  <p> <b>Created date:</b> {{this.createdAt}}</p>
  <br>
  <p>
    {{!-- <span class="blogdetails">{{details}}</span> --}}
  </p>
</div> 
{{/each}}
